%% -*- mode: erlang -*-
{erl_opts, [debug_info, warnings_as_errors, {platform_define, "^[0-9]+",
                                             namespaced_types}]}.
{deps, [
        {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p5"}}}
       ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions,
               locals_not_used]}.
{eunit_opts, [verbose]}.
%% Fixes attempted removal of riak_pb directory by rebar_escripter
{escript_name, "doesnothavescript"}.

{edoc_opts, [{preprocess, true}]}.

{plugins, [
    {rebar3_riak_pb_msgcodegen, {git, "git@github.com:basho/rebar3_riak_pb_msgcodegen.git", {branch, "start/zl/create-plugin"}}}
]}.

{provider_hooks, 
    [{pre, [{compile, {riak_pb_msgcodegen, compile}}, {clean, {riak_pb_msgcodegen, clean}}]}]
}.
